# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
Semana2/Lista de adjacencias/lista_de_adjacencias
*.in
Semana1/Pontos_dominantes/pontos_dominantes
Semana2/Matriz de adjacencias/matriz_adjacencias
